# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [2]:
import pandas as pd
df = pd.read_csv('nbastats2018-2019.csv')

df.head()
df_describe = df.describe()

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [4]:
df_duplicates = df.duplicated().sum()

df_nulls = df.columns[df.isnull().any()]
df_nulls

Index(['Team', 'FT%', 'FG3%', 'FG%'], dtype='object')

# What was the average age of player in the league?

In [5]:
df['Age'].mean().round(2)

25.9

In [6]:
df_describe.loc['mean']['Age'].round(2)

25.9

# What player scored the most points?

In [7]:
# Using Conditioning
max_points = df['Points'].max()
df[df['Points'] == max_points]['Name']


# Using Row Index
max_point_index = df['Points'].idxmax()
player_with_most_points = df.loc[max_point_index][['Name', "Team"]]

print(f"The player(s) with the maximum points '({max_points})' is/are: {', '.join(player_with_most_points)}")

The player(s) with the maximum points '(36.1)' is/are: James Harden, Houston Rockets

# What player had the most blocks during the season? Was it a post player (F/C)?

#### There is no column in the data set to which tells about the position of the players

In [32]:
pd.set_option('display.max_rows', None)
most_blocks = df['Blocks'].max()

player_with_most_blocks = df[df['Blocks'] == most_blocks]['Name']

print(f"The player with the most blocks during the season is '{player_name}'.")

The player with the most blocks during the season is 'Myles Turner'.

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [24]:
df_WS = df.loc[df['WS'].idxmax(), 'Name']
df_WS

'James Harden'

Win Shares (WS): Look at the 'WS' column. Players with higher Win Shares are considered to have made a more significant overall contribution to their team's success.

In [25]:
df_PER = df.loc[df['PER'].idxmax(), 'Name']
df_PER

'Zhou Qi'

Player Efficiency Rating (PER): Look at the 'PER' column. PER is a per-minute rating that summarizes a player's statistical accomplishments in a single number. Higher PER values generally indicate better overall performance.

# What player had the best 3-pt percentage?

In [11]:
max_3pt_percentage = df['FG3%'].max()
best_3pt_percentage = df[df['FG3%'] == max_3pt_percentage][['Name', 'Team']]
best_3pt_percentage


# it only returns first occurance 
# max_3pt_percentage = df['FG3%'].idxmax()
# best_3pt_percentage = df.loc[max_3pt_percentage][['Name', 'Team']]
# best_3pt_percentage

              Name                Team
147   Trevon Duval                 NaN
312  Scott Machado  Los Angeles Lakers
352  Eric Moreland        Phoenix Suns
439  Jordan Sibert       Atlanta Hawks

# Who played the most minutes during the season

In [12]:
# max_minutes = df['MP'].max()
most_minutes_played = df[df['MP'] == df['MP'].max()][['Name', 'Team', 'MP']]
most_minutes_played

             Name                   Team    MP
37   Bradley Beal     Washington Wizards  36.9
179   Paul George  Oklahoma City Thunder  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [13]:
very_well_played = df[df['PER'] == df['PER'].max()][['Name', 'Team', 'PER']]
very_well_played

        Name             Team   PER
405  Zhou Qi  Houston Rockets  80.4

# What team had the youngest roster?

In [14]:
youngest = df['Age'].min()
team_with_youngest = df[df['Age'] == youngest][['Team', 'Name', 'Age']]
team_with_youngest

                       Team                Name  Age
24         Sacramento Kings   Marvin Bagley III   19
57       Los Angeles Lakers         Isaac Bonga   19
74       Washington Wizards      Troy Brown Jr.   19
90            Chicago Bulls  Wendell Carter Jr.   19
138        Dallas Mavericks         Luka Doncic   19
249       Memphis Grizzlies   Jaren Jackson Jr.   19
279         New York Knicks          Kevin Knox   19
360           Brooklyn Nets         Dzanan Musa   19
443  Portland Trail Blazers     Anfernee Simons   19
449      Philadelphia 76ers        Zhaire Smith   19
479          Denver Nuggets   Jarred Vanderbilt   19

# Who is the highest paid player during the seasion?

In [15]:
df['Salary'] = df['Salary'].replace('-', '0')
df['Salary'] = df['Salary'].astype('Int64')

highest_paid = df[df['Salary'] == df['Salary'].max()][['Name', 'Team', 'Salary']]
highest_paid

              Name                   Team    Salary
121  Stephen Curry  Golden State Warriors  37457154

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [13]:
least_on_FT = df[df['FT%'] == df['FT%'].min()]
not_on_FT = least_on_FT[['Name', 'Team', 'FT%']]

In [14]:
print('Below are the players, I would not want on Free Throw Line')
not_on_FT

Below are the players, I would not want on Free Throw Line

                   Name                   Team  FT%
154         Jacob Evans  Golden State Warriors  0.0
221   Haywood Highsmith                    NaN  0.0
268      Terrence Jones        Houston Rockets  0.0
325      Tahjere McCall          Brooklyn Nets  0.0
356  Donatas Motiejunas      San Antonio Spurs  0.0
360         Dzanan Musa          Brooklyn Nets  0.0
502       C.J. Williams                    NaN  0.0